
/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html 
{
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.topnav {
    overflow: hidden;
    margin-top: 1%;
}

    .topnav a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }

        .topnav a:first-child {
            font-size: 15px;
            float: left;
        }

        .topnav a:hover {
            color: lightslategray;
        }

    .topnav .active {
        color: lightslategray;
    }

    .topnav a:focus {
        color: #4b65ba;
    }


/*
   ---------------
    ABOUT SECTION
   ---------------
*/


.aboutMe {
    text-align: center;
    background-color: #e8f0f8;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.aboutMe h2 {
    font-family: Roboto Mono;
    font-size: calc(16px + 0.5vw);
    text-align:center;
}

.aboutMe p {
    font-family: Roboto Mono;
    font-size: calc(12px + 0.5vw);
    width: 50%;
    padding-left: 25%;
}

#aboutPic{
    text-align: center;
}

#aboutPic img{
    width: 20%;
    height: auto;
}


/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/
footer {
    clear: both;
    text-align: center;
    margin-bottom: 2%;
}


.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.fa:hover 
{
    background-color: lightslategray;
}


    .fa:focus {
        background-color: #4b65ba;
    }