/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html {
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.topnav {
    overflow: hidden;
    margin-top: 1%;
}

    .topnav a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }

        .topnav a:first-child {
            font-size: 15px;
            float: left;
        }

        .topnav a:hover {
            color: lightslategray;
        }

    .topnav .active {
        color: lightslategray;
    }

    .topnav a:focus {
        color: #4b65ba;
    }

/*
   ------------------
    BLOG POST STYLES
   ------------------
*/
.blogpost1 {
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
    background-color: #fdf6e4;
}
    .blogpost1 h2 {
        font-family: Roboto Mono;
        font-size: calc(16px + 0.5vw);
        text-align: center;
    }

    .blogpost1 h3 {
        font-family: Roboto Mono;
        font-size: calc(12px + 0.5vw);
        font-style: italic;
        text-align: center;
    }

    .blogpost1 iframe {
        width: 560px;
        height: 315px;
    }

.blogpost2 {
    background-color: #f9e6f3;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.blogpost2 h2 {
    font-family: Roboto Mono;
    font-size: calc(16px + 0.5vw);
    text-align: center;
}

.blogpost2 h3 {
    font-family: Roboto Mono;
    font-size: calc(12px + 0.5vw);
    font-style: italic;
    text-align: center;
}

.blogpost2 video {
    width: 560px;
    height: 315px;
}

#video{
    text-align: center;
}


/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/

footer {
    clear: both;
    text-align: center;
    margin-bottom: 2%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

    .fa:hover {
        background-color: lightslategray;
    }

    .fa:focus {
        background-color: #4b65ba;
    }