
/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html 
{
}


body 
{
    font-size: calc(5px + 0.5vw);
    font-family: Arial, Helvetica, sans-serif;
}

/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.main-nav 
{
    float: right;
    border-radius: 4px;
    margin-top: 8px;
}

.main-nav > li 
{
    float: left;
}

.main-nav a 
{
    color: #000000;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav .active
{
    color: #a3abd9;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

.main-nav a:focus 
{
    color: #6db6a1;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header 
{
    margin: auto;
    width: 90%;
    min-height: 90px;
    padding: 1em 2em;
    border-radius: 0 0 5px 5px;
}

.main-header:after 
{
    content: " ";
    display: table;
    clear: both;
}

.dropdown
{
    position: relative;
}

.dropdown:after 
{
    content: "\25BC";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.drop-nav
{
    position: absolute;
    display: none;
}

.dropdown:hover > .drop-nav
{
    display: block;
}

/*
   ----------------
    TABLE ELEMENTS
   ----------------
*/

.design-projects
{
    margin-top: 2%;
}

table 
{
    font-size: 20px;
    font-family: Roboto Mono;
    text-align: center;
}

table, th, td 
{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 40px;
}

th
{
    background-color: #a3abd9;
}

tr:nth-child(even) 
{
    background-color: #f2f2f2;
}


/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/

footer {
    clear: both;
    text-align: center;
    margin-bottom: 2%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

    .fa:hover {
        background-color: lightslategray;
    }

    .fa:focus {
        background-color: #4b65ba;
    }
