/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html 
{
}


body
{
    font-size: calc(5px + 0.5vw);
}


/*
   -----------
    ANIMATION
   -----------
*/

.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}


@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
/*
   ------------------
    BACKGROUND IMAGE
   ------------------
*/

.hero-image {
    background: url(background.jpg) center center / cover no-repeat fixed, rgb(134,176,232);
    height: 800px;
    margin-top: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    width: 99.225vw;
    position: relative;
    margin-left: -49.59vw;
    left: 50%;
}


.hero-text {
    animation-delay: .6s;
    font-family: Roboto Mono;
    text-align: left;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    width: 50%;
    background-color: black;
    height: auto;
    padding-bottom: 1%;
}

.hero-text h1 
{
    font-family: Roboto Mono;
    font-size: calc(40px + 0.5vw);
    color: white;
    padding-left: 5%;
    padding-right: 3%;
}

.hero-text p 
{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 3%;
    font-size: calc(16px + 0.5vw);
    color: white;
}

/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.main-nav {
    float: right;
    border-radius: 4px;
    margin-top: 8px;
}

    .main-nav > li {
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

.main-nav a 
{
    color: #000000;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav .active 
{
    color: #a3abd9;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

.main-nav a:focus
{
    color: #6db6a1;
    font-weight: bold;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}

ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header 
{
    margin: auto;
    width: 90%;
    min-height: 90px;
    padding: 1em 2em;
    border-radius: 0 0 5px 5px;
}

.main-header:after 
{
    content: " ";
    display: table;
    clear: both;
}

.dropdown 
{
    position: relative;
}

.dropdown:after 
{
    content: "\25BC";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}

.drop-nav
{
    position: absolute;
    display: none;
}

.dropdown:hover > .drop-nav 
{
    display: block;
}

/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/

.fa 
{
    padding: 30px;
    font-size: 50px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa:hover
{
    color: black;
    text-decoration: none;
}

.fa:focus 
{
    color: black;
    text-decoration: none;
}


/* 
   -----------------------
    STICKY FOOTER CLASSES 
   -----------------------
*/
footer {
    background: #007bff;
    background: linear-gradient(to right, #a3abd9, #4b65ba);
    height: 100%;
    text-align: center;
    font-family: Roboto Mono;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}