/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html {
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
   ------------------
    BACKGROUND IMAGE
   ------------------
*/

.hero-image {
    background: url(background.jpg) center center / cover no-repeat fixed, rgb(134,176,232);
    height: 800px;
    margin-top: 0.5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    width: 99.225vw;
    position: relative;
    margin-left: -49.59vw;
    left: 50%;
}


.hero-text {
    font-family: Roboto Mono;
    text-align: left;
    position: absolute;
    margin-top: 10%;
    margin-left: 55%;
    background-color: black;
    width: 30%;
    height: auto;
    padding-bottom: 1%;
}

    .hero-text h1 {
        font-family: Roboto Mono;
        font-size: calc(40px + 0.5vw);
        color: white;
        padding-left: 5%;
        padding-right: 3%;
    }

    .hero-text p {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 3%;
        font-size: calc(16px + 0.5vw);
        color: white;
    }

/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.topnav {
    overflow: hidden;
    margin-top: 1%;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

    .topnav a:first-child {
        font-size: 15px;
        float: left;
    }

.topnav a:hover {
    color: lightslategray;
}

.topnav .active {
    color: lightslategray;
}

    .topnav a:focus {
        color: #4b65ba;
    }


/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/

footer {
    clear: both;
    text-align: center;
    margin-bottom: 2%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.fa:hover {
    background-color: lightslategray;
}

.fa:focus {
    background-color: #4b65ba;
}
