
/*
   ----------------------
    HTML AND BODY STYLES
   ----------------------
*/

html 
{
    
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
   ----------------
    NAVIGATION BAR 
   ----------------
*/

.topnav {
    overflow: hidden;
    margin-top: 1%;
}

    .topnav a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }

        .topnav a:first-child {
            font-size: 15px;
            float: left;
        }

        .topnav a:hover {
            color: lightslategray;
        }

    .topnav .active {
        color: lightslategray;
    }

    .topnav a:focus {
        color: #4b65ba;
    }


/*
    ------------------
     PROJECT ELEMENTS
    ------------------
*/

.projects h2 {
    font-family: Roboto Mono;
    font-size: calc(16px + 0.5vw);
    text-align: center;
}

.projects h3 {
    font-family: Roboto Mono;
    font-size: calc(12px + 0.5vw);
    font-style: italic;
    text-align: center;
}

.projects a img {
    width: 50%;
    height: auto;
}

#projectPic{
    text-align: center;
}

/*
    ---------------------
     PROJECT #1 ELEMENTS
    ---------------------
*/

.project1 {
    background-color: #e2f7ed;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

/*
    ---------------------
     PROJECT #2 ELEMENTS
    ---------------------
*/
.project2 {
    background-color: #ece3f6;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

/* 
   --------------------
    SOCIAL MEDIA ICONS 
   --------------------
*/

footer {
    clear: both;
    text-align: center;
    margin-bottom: 2%;
}

.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: black;
    color: white;
}

.fa:hover 
{
    background-color: lightslategray;
}

    .fa:focus {
        background-color: #4b65ba;
    }